/* Poppins */
@font-face {
    font-family: 'Poppins Regular';
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Poppins Bold';
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Poppins Italic';
    src: url("../fonts/Poppins/Poppins-Italic.ttf") format('truetype');
}
@font-face {
    font-family: 'Poppins Light';
    src: url("../fonts/Poppins/Poppins-Light.ttf") format('truetype');
}
@font-face {
    font-family: 'Poppins Medium';
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format('truetype');
}

/* Montserrat*/
@font-face {
    font-family: 'Montserrat Regular';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat Italic';
    src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat Light';
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype');
}
h1, h2, h3, h4, h5 {
    font-family: 'Poppins Light' !important;
}
p, a {
    font-family: 'Montserrat Regular' !important;
}
h1 > strong, 
h2 > strong, 
h3 > strong, 
h4 > strong, 
h5 > strong {
    font-family: 'Poppins Medium' !important;
}
p > strong {
    font-family: 'Montserrat Bold' !important;
}