/* Responsive */
/* Widths */
/* Colors */
/* Padding and Margins */
/* Responsive */
/* Widths */
/* Colors */
/* Padding and Margins */
.navbar {
  flex-direction: row-reverse;
  transition: ease 0.8s;
  /* Title CYCLE ONE */
  /* Cart logo on mobile */
  /* Content */
  /* Logos */ }
  .navbar .navbar-brand > img {
    height: auto;
    width: 160px; }
  @media screen and (max-width: 992px) {
    .navbar .navbar-brand > img {
      height: auto;
      width: 40px; } }
  .navbar .navbar-logo-mobile {
    color: white;
    display: none; }
    .navbar .navbar-logo-mobile i {
      font-size: 1.4rem;
      color: #1a1a1a; }
  .navbar .navbar-collapse .navbar-nav .nav-item > a {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.15s ease-in-out; }
    .navbar .navbar-collapse .navbar-nav .nav-item > a:hover {
      color: black; }
  .navbar .hide-on-desktop {
    display: none; }
  .navbar .nav-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 143px; }
    .navbar .nav-logos div i {
      font-size: 1.4rem;
      color: #1a1a1a; }
  @media screen and (max-width: 992px) {
    .navbar .navbar-brand {
      margin-right: 0; }
    .navbar .nav-logos, .navbar .dropdown {
      display: none; }
    .navbar .hide-on-desktop, .navbar .navbar-logo-mobile {
      display: block; } }

/* Buttons */
.btn {
  border-radius: 10px !important; }

.btn-secondary {
  border: 2px solid #4100ff !important;
  background-color: white !important;
  color: #4100ff !important; }

.btn-outline-secondary {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important; }

.btn-outline-secondary:hover {
  color: #1a1a1a !important;
  background-color: #FFFFFF !important; }

/* Titles */
h4, h5 {
  text-transform: inherit !important; }

html {
  scroll-behavior: smooth; }

section > h1 {
  text-align: center; }

.first-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; }
  @media screen and (max-width: 1300px) {
    .first-section {
      display: block; } }
  .first-section .landing-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 6em; }
    @media screen and (max-width: 1164px) {
      .first-section .landing-img {
        padding: 6em 0; } }
    .first-section .landing-img img {
      transform: rotateY(180deg);
      max-height: 800px;
      max-width: 800px;
      width: 50vw;
      height: auto; }
  .first-section .main-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 578px;
    margin-left: 5vw; }
    @media screen and (max-width: 1190px) {
      .first-section .main-title {
        width: 450px;
        padding-right: 2em; } }
    .first-section .main-title h2 {
      text-transform: none;
      font-weight: 600;
      font-size: min(4vw, 60px); }
    .first-section .main-title > div > button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 0; }
      .first-section .main-title > div > button:focus {
        box-shadow: none !important; }
      .first-section .main-title > div > button h4, .first-section .main-title > div > button i {
        font-size: max(2vw, 16px); }
      .first-section .main-title > div > button h4 {
        margin-bottom: 0;
        margin-left: 1em; }
      .first-section .main-title > div > button i {
        color: #4100ff; }
      @media screen and (max-width: 633px) {
        .first-section .main-title > div > button {
          padding-right: 0; } }
      @media screen and (max-width: 430px) {
        .first-section .main-title > div > button {
          padding: 1em 0 1em 0.5em; } }

.waves {
  margin-top: -10vw; }

.offers {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2px; }
  .offers h1, .offers h2, .offers h3, .offers h4, .offers h5, .offers p, .offers .fas {
    color: white; }
  .offers h1 {
    text-align: center; }
  .offers .items {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center; }
    @media screen and (max-width: 1196px) {
      .offers .items {
        flex-direction: column; } }
    @media screen and (max-width: 700px) {
      .offers .items {
        width: 100%; } }
    .offers .items .addition {
      display: flex;
      flex-direction: row;
      align-items: start;
      margin-left: 15vw; }
      @media screen and (max-width: 1196px) {
        .offers .items .addition {
          margin-left: 0; } }
      .offers .items .addition .item .box-img {
        padding: 3em; }
        @media screen and (max-width: 700px) {
          .offers .items .addition .item .box-img {
            padding: 0;
            padding-top: 3em; } }
        @media screen and (max-width: 540px) {
          .offers .items .addition .item .box-img {
            display: flex;
            flex-direction: column;
            align-items: center; } }
        .offers .items .addition .item .box-img > img {
          width: 200px;
          height: 200px;
          padding-bottom: 1em; }
          @media screen and (max-width: 540px) {
            .offers .items .addition .item .box-img > img {
              height: auto;
              width: 30vw; } }
      .offers .items .addition .item .box-msg {
        text-align: center; }
      .offers .items .addition .plus {
        margin-top: 40px;
        font-size: 140px;
        padding: 0 20px; }
    .offers .items .result-addition {
      text-align: center; }
      @media screen and (max-width: 1196px) {
        .offers .items .result-addition {
          padding-bottom: 2em; } }
  .offers .last-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .offers .last-row .remaining-time > h4 {
      margin-bottom: 1em; }

.who-we-are, .our-creations .why-you-love {
  padding-bottom: 6em !important; }

.who-we-are {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 20em;
  padding-top: 0;
  margin-top: -180px; }
  @media screen and (max-width: 1476px) {
    .who-we-are {
      padding-top: 2em; } }
  @media screen and (max-width: 1225px) {
    .who-we-are {
      padding-left: 10em;
      padding-right: 10em;
      padding-top: 8em; } }
  @media screen and (max-width: 866px) {
    .who-we-are {
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 8em; } }
  @media screen and (max-width: 620px) {
    .who-we-are {
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 12em; } }
  .who-we-are h3 {
    text-align: center;
    margin: 2em auto;
    text-transform: inherit;
    letter-spacing: 1px; }
  .who-we-are video {
    width: 60vw; }
    @media screen and (max-width: 1225px) {
      .who-we-are video {
        width: 75vw; } }
    @media screen and (max-width: 620px) {
      .who-we-are video {
        width: 100vw; } }
    .who-we-are video > p {
      text-align: center; }

.our-creations .creations {
  padding: 2em 12em; }
  @media screen and (max-width: 1256px) {
    .our-creations .creations {
      padding-left: 6em;
      padding-right: 6em; } }
  @media screen and (max-width: 1023px) {
    .our-creations .creations {
      padding-left: 0;
      padding-right: 0; } }
  .our-creations .creations .creation {
    display: flex;
    flex-direction: row;
    border: 2px solid #1a1a1a;
    margin: 2em auto; }
    @media screen and (max-width: 590px) {
      .our-creations .creations .creation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1em; } }
    .our-creations .creations .creation .creation-content {
      padding-left: 4em;
      margin-top: auto;
      margin-bottom: auto; }
      @media screen and (max-width: 590px) {
        .our-creations .creations .creation .creation-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-left: 5vw;
          padding-right: 5vw; } }
      @media screen and (max-width: 621px) {
        .our-creations .creations .creation .creation-content {
          padding-left: 2em; } }
      .our-creations .creations .creation .creation-content > h4 {
        margin: 1em auto;
        white-space: pre-line;
        flex-wrap: nowrap; }
      .our-creations .creations .creation .creation-content > p {
        font-size: 18px;
        padding-right: 10vw; }
        @media screen and (max-width: 1330px) {
          .our-creations .creations .creation .creation-content > p {
            padding-right: 5vw;
            max-height: 81px;
            text-overflow: ellipsis;
            overflow-y: hidden; } }
        @media screen and (max-width: 949px) {
          .our-creations .creations .creation .creation-content > p {
            padding-right: 0; } }
      .our-creations .creations .creation .creation-content .btn {
        transition: .15s ease-in-out;
        border: 1px solid rgba(0, 0, 0, 0); }
        .our-creations .creations .creation .creation-content .btn:hover {
          color: #1a1a1a;
          background-color: white;
          border-color: #1a1a1a; }
    .our-creations .creations .creation > img {
      max-width: 564px;
      width: 100%;
      height: auto; }
      @media screen and (max-width: 1471px) {
        .our-creations .creations .creation > img {
          max-width: 400px; } }

.why-you-love .customrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 6rem 0;
  width: 100%; }
  @media screen and (max-width: 968px) {
    .why-you-love .customrow .col {
      flex-grow: 0 !important;
      min-width: 25vw; }
    .why-you-love .customrow i {
      font-size: 3em !important; }
    .why-you-love .customrow h4 {
      font-size: 16px;
      width: auto !important;
      line-height: 18px !important; } }
  @media screen and (max-width: 581px) {
    .why-you-love .customrow {
      margin-bottom: 0; } }
  @media screen and (max-width: 450px) {
    .why-you-love .customrow .col {
      min-width: 30vw; }
    .why-you-love .customrow h4 {
      font-size: 12px; } }
  .why-you-love .customrow > .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; }
    @media screen and (max-width: 580px) {
      .why-you-love .customrow > .col {
        margin-bottom: 50px; } }
    .why-you-love .customrow > .col > div {
      background-color: #4100ff;
      padding: 1em;
      border-radius: 100px;
      margin-bottom: 2em; }
      .why-you-love .customrow > .col > div > i {
        width: 20%;
        margin: 0 auto;
        font-size: 4em;
        color: #FFFFFF; }
    .why-you-love .customrow > .col > h4 {
      text-align: center;
      width: 260px;
      line-height: 29px; }

.media-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .media-feedback .container-fluid {
    margin: 4em 0; }
    .media-feedback .container-fluid .fa-chevron-left, .media-feedback .container-fluid .fa-chevron-right {
      color: #1a1a1a !important;
      opacity: 1 !important; }
  .media-feedback .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 927px) {
      .media-feedback .buttons {
        flex-direction: column; } }
    @media screen and (max-width: 495px) {
      .media-feedback .buttons {
        width: 90%;
        margin: 0 auto; } }
    .media-feedback .buttons .btn {
      width: 441px;
      font-size: 1.6em;
      margin: 4em 2vw;
      transition: 0.15s ease-in-out !important; }
      .media-feedback .buttons .btn:hover {
        color: white !important;
        background-color: #4100ff !important; }
      @media screen and (max-width: 927px) {
        .media-feedback .buttons .btn {
          margin: 2em 0; } }
      @media screen and (max-width: 495px) {
        .media-feedback .buttons .btn {
          width: 100%; } }
    @media screen and (max-width: 927px) {
      .media-feedback .buttons :first-child {
        margin-bottom: 0; } }

.hiw h1,
.hiw .lead,
.hiw_mobile h1,
.hiw_mobile .lead {
  text-align: center; }
.hiw .intro,
.hiw_mobile .intro {
  margin-top: 150px; }
.hiw table,
.hiw_mobile table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 200px;
  border-collapse: separate;
  border-spacing: 50px; }
  .hiw table hr,
  .hiw_mobile table hr {
    height: 3px;
    padding: 0;
    margin: 50px 0 25px;
    color: blue;
    background-color: blue;
    border: 0; }
  .hiw table tr td,
  .hiw_mobile table tr td {
    padding: 2em;
    padding-top: 3em;
    width: 800px;
    vertical-align: top; }
  .hiw table tr .textetapes,
  .hiw_mobile table tr .textetapes {
    border: 3px solid black;
    font-size: 1em; }
  .hiw table tr #t1,
  .hiw_mobile table tr #t1 {
    height: 750px; }
  .hiw table tr #t2,
  .hiw_mobile table tr #t2 {
    text-align: right;
    height: 700px; }
  .hiw table tr #t3,
  .hiw_mobile table tr #t3 {
    height: 600px; }
  .hiw table tr #e1,
  .hiw_mobile table tr #e1 {
    background: white url(../images/telephone.jpg) no-repeat;
    background-size: contain;
    background-position: center; }
  .hiw table tr #e2,
  .hiw_mobile table tr #e2 {
    background: white url(../images/bluetooth.png) no-repeat;
    background-size: contain;
    background-position: center; }
  .hiw table tr #e3,
  .hiw_mobile table tr #e3 {
    background: white url(../images/main-tenant-navigation-gps-mobile-telephone-mobile-carte-broche-illustration-vectorielle_47649-404.jpg) no-repeat;
    background-size: contain;
    background-position: center; }
.hiw .lienapp,
.hiw_mobile .lienapp {
  text-align: center; }
  .hiw .lienapp a,
  .hiw_mobile .lienapp a {
    text-decoration: underline black;
    font-weight: bold; }
    .hiw .lienapp a i,
    .hiw_mobile .lienapp a i {
      font-size: 3em; }
.hiw details,
.hiw_mobile details {
  text-align: center;
  margin: 10px;
  font-size: 1em; }
  .hiw details summary,
  .hiw_mobile details summary {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    list-style-type: none; }
    .hiw details summary i,
    .hiw_mobile details summary i {
      margin-right: 30px; }
.hiw summary::-webkit-details-marker,
.hiw_mobile summary::-webkit-details-marker {
  display: none; }
.hiw summary:after,
.hiw_mobile summary:after {
  content: "+";
  color: black;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  padding: 20px; }
.hiw details[open] summary:after,
.hiw_mobile details[open] summary:after {
  content: "-"; }

.hiw_mobile {
  display: none; }

@media screen and (max-width: 800px) {
  .hiw {
    display: none; }

  .hiw_mobile {
    display: block; }
    .hiw_mobile details {
      font-size: 1em; } }
@media screen and (max-width: 400px) {
  .hiw_mobile table {
    margin-left: -2em; } }
.product-container-desktop {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 12em; }
  @media screen and (max-width: 376px) {
    .product-container-desktop {
      display: none; } }
  .product-container-desktop .row .product-info {
    border: 2px solid #1a1a1a;
    padding: 2rem 4rem;
    height: 700px; }
    .product-container-desktop .row .product-info .product-info-row {
      display: flex;
      flex-direction: column; }
      .product-container-desktop .row .product-info .product-info-row .feedback {
        display: flex;
        flex-direction: row; }
        .product-container-desktop .row .product-info .product-info-row .feedback > p {
          margin-bottom: 0; }
        .product-container-desktop .row .product-info .product-info-row .feedback > div {
          padding-left: 1em; }
          .product-container-desktop .row .product-info .product-info-row .feedback > div .checked {
            color: #D07E0E; }
      .product-container-desktop .row .product-info .product-info-row h4 {
        margin-top: 1em;
        margin-bottom: 2em; }
      .product-container-desktop .row .product-info .product-info-row .product-config > span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1em; }
        .product-container-desktop .row .product-info .product-info-row .product-config > span > i {
          color: green;
          font-size: 2em; }
        .product-container-desktop .row .product-info .product-info-row .product-config > span > h5 {
          margin-bottom: 0;
          font-size: 1.4em;
          padding-left: 0.5em; }
      .product-container-desktop .row .product-info .product-info-row .product-config > .config-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .product-container-desktop .row .product-info .product-info-row .product-config > .config-row > .colors {
          display: flex;
          flex-direction: row; }
          .product-container-desktop .row .product-info .product-info-row .product-config > .config-row > .colors .item-white, .product-container-desktop .row .product-info .product-info-row .product-config > .config-row > .colors .item-gray, .product-container-desktop .row .product-info .product-info-row .product-config > .config-row > .colors .item-black {
            height: 25px;
            width: 25px;
            border-radius: 20px; }
          .product-container-desktop .row .product-info .product-info-row .product-config > .config-row > .colors .item-black {
            background-color: black; }
          .product-container-desktop .row .product-info .product-info-row .product-config > .config-row > .colors .item-gray {
            background-color: gray;
            margin: 0 10px; }
          .product-container-desktop .row .product-info .product-info-row .product-config > .config-row > .colors .item-white {
            background-color: white;
            border: 1px solid black; }
        .product-container-desktop .row .product-info .product-info-row .product-config > .config-row > .size > select {
          padding: 10px 100px 10px 5px;
          text-align: start; }
      .product-container-desktop .row .product-info .product-info-row .product-config .assurance p:first-child {
        margin-bottom: 0; }
      .product-container-desktop .row .product-info .product-info-row .product-config .last-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5vw; }
        .product-container-desktop .row .product-info .product-info-row .product-config .last-row .quantity-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          /* Firefox */ }
          .product-container-desktop .row .product-info .product-info-row .product-config .last-row .quantity-container > input {
            width: 100px;
            font-size: 1.4rem;
            text-align: center; }
          .product-container-desktop .row .product-info .product-info-row .product-config .last-row .quantity-container input::-webkit-outer-spin-button,
          .product-container-desktop .row .product-info .product-info-row .product-config .last-row .quantity-container input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; }
          .product-container-desktop .row .product-info .product-info-row .product-config .last-row .quantity-container input[type=number] {
            -moz-appearance: textfield; }
          .product-container-desktop .row .product-info .product-info-row .product-config .last-row .quantity-container > span {
            cursor: pointer;
            color: #1a1a1a;
            font-size: 3rem;
            margin: 0 0.2em; }
            .product-container-desktop .row .product-info .product-info-row .product-config .last-row .quantity-container > span::selection {
              background: transparent; }
        .product-container-desktop .row .product-info .product-info-row .product-config .last-row > .btn {
          font-size: 1.2em; }
  .product-container-desktop .display-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #1a1a1a;
    padding: 1em;
    margin-top: 8em; }
    .product-container-desktop .display-row h3 {
      margin-bottom: 0;
      color: rgba(26, 26, 26, 0.5); }
    .product-container-desktop .display-row .row-item {
      cursor: pointer;
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      padding: 1em;
      transition: 0.2s ease; }
      .product-container-desktop .display-row .row-item:hover {
        transform: scale(1.1); }
    .product-container-desktop .display-row .active h3 {
      color: #1a1a1a; }
  .product-container-desktop #manual, .product-container-desktop #technical, .product-container-desktop #feedback {
    padding-top: 6em; }
  .product-container-desktop #manual .timeline-manual .flex-parent .description-flex-container .timeline-content .manual-row {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .product-container-desktop #manual .timeline-manual .flex-parent .description-flex-container .timeline-content .manual-row > img {
      height: 450px;
      width: 450px; }
    .product-container-desktop #manual .timeline-manual .flex-parent .description-flex-container .timeline-content .manual-row .manual-content {
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.2rem;
      letter-spacing: 0px; }
      .product-container-desktop #manual .timeline-manual .flex-parent .description-flex-container .timeline-content .manual-row .manual-content .manual-link {
        margin-top: 4em;
        font-size: 13px; }
      .product-container-desktop #manual .timeline-manual .flex-parent .description-flex-container .timeline-content .manual-row .manual-content a, .product-container-desktop #manual .timeline-manual .flex-parent .description-flex-container .timeline-content .manual-row .manual-content .manual-links-row a {
        width: fit-content; }
  .product-container-desktop #technical > h2 {
    margin-bottom: 2em; }
  .product-container-desktop #technical .technical-section {
    margin: 0 6em; }
    .product-container-desktop #technical .technical-section .technical-content {
      padding: 1.25rem; }
      .product-container-desktop #technical .technical-section .technical-content .tech-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .product-container-desktop #technical .technical-section .technical-content .tech-title .btn .rotate {
          transform: rotate(180deg); }
        .product-container-desktop #technical .technical-section .technical-content .tech-title .btn i {
          transition: transform 0.2s ease-in-out; }
        .product-container-desktop #technical .technical-section .technical-content .tech-title .btn:focus {
          box-shadow: none !important; }
        .product-container-desktop #technical .technical-section .technical-content .tech-title > h4 {
          margin-bottom: 0; }
      .product-container-desktop #technical .technical-section .technical-content .card {
        border: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(26, 26, 26, 0.8); }
  .product-container-desktop #feedback > .fb-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .product-container-desktop #feedback .fb-content .fb-notes {
    display: flex;
    flex-direction: column; }
    .product-container-desktop #feedback .fb-content .fb-notes .fb-bars {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 2em; }
      .product-container-desktop #feedback .fb-content .fb-notes .fb-bars > h5 {
        margin: 0 2em; }
      .product-container-desktop #feedback .fb-content .fb-notes .fb-bars .progress {
        background-color: rgba(26, 26, 26, 0.2); }
        .product-container-desktop #feedback .fb-content .fb-notes .fb-bars .progress .progress-bar {
          background-color: #4100ff; }
  .product-container-desktop #feedback .commentary {
    border: 2px solid rgba(26, 26, 26, 0.2);
    padding: 1rem;
    margin: 1em 0; }
    .product-container-desktop #feedback .commentary > .comm-header, .product-container-desktop #feedback .commentary > .comm-footer {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .product-container-desktop #feedback .commentary .comm-header {
      justify-content: space-between;
      margin-bottom: 1rem; }
      .product-container-desktop #feedback .commentary .comm-header h5, .product-container-desktop #feedback .commentary .comm-header p {
        margin-bottom: 0; }
      .product-container-desktop #feedback .commentary .comm-header h5 {
        margin-right: 1rem;
        letter-spacing: 1px; }
      .product-container-desktop #feedback .commentary .comm-header .comm-first-header {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .product-container-desktop #feedback .commentary .comm-header .comm-first-header .stars .checked {
          color: #D07E0E; }
    .product-container-desktop #feedback .commentary .comm-footer {
      justify-content: space-between; }

.product-container-mobile {
  display: none; }
  .product-container-mobile h1 {
    font-size: 1.6rem; }
  .product-container-mobile h2 {
    font-size: 1.5rem; }
  .product-container-mobile h3 {
    font-size: 1.4rem; }
  .product-container-mobile h4 {
    font-size: 1.3rem; }
  .product-container-mobile h5 {
    letter-spacing: 1px; }
  .product-container-mobile p {
    font-size: 0.8rem; }
  @media screen and (max-width: 375px) {
    .product-container-mobile {
      display: block; } }
  .product-container-mobile .title-row {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .product-container-mobile .mobile-content .mobile-carousel ol {
    bottom: -50px; }
    .product-container-mobile .mobile-content .mobile-carousel ol li {
      height: 20px !important;
      width: 20px !important;
      border-radius: 500px;
      border: none;
      background-color: #1a1a1a; }
  .product-container-mobile .mobile-content .mobile-config .product-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0; }
    .product-container-mobile .mobile-content .mobile-config .product-titles > h5 {
      text-align: center; }
    .product-container-mobile .mobile-content .mobile-config .product-titles .mobile-product-feedback-tiny {
      display: flex;
      flex-direction: row; }
      .product-container-mobile .mobile-content .mobile-config .product-titles .mobile-product-feedback-tiny .mobile-stars-tiny {
        padding-left: 1rem; }
        .product-container-mobile .mobile-content .mobile-config .product-titles .mobile-product-feedback-tiny .mobile-stars-tiny span {
          font-size: 0.6rem;
          padding: 0;
          margin: 0; }
  .product-container-mobile .mobile-content .mobile-config .product-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
    .product-container-mobile .mobile-content .mobile-config .product-inputs .mobile-size {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .product-container-mobile .mobile-content .mobile-config .product-inputs .mobile-size #size-select {
        width: 100%;
        font-size: 1.4rem; }
    .product-container-mobile .mobile-content .mobile-config .product-inputs .last-mobile-inputs {
      display: flex;
      flex-direction: row; }
      .product-container-mobile .mobile-content .mobile-config .product-inputs .last-mobile-inputs input-quantity {
        width: 100%; }
        .product-container-mobile .mobile-content .mobile-config .product-inputs .last-mobile-inputs input-quantity input {
          width: 100%; }
  .product-container-mobile .display-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #1a1a1a;
    padding: 1em;
    margin-top: 8em; }
    .product-container-mobile .display-row h3 {
      margin-bottom: 0;
      color: rgba(26, 26, 26, 0.5); }
    .product-container-mobile .display-row .row-item {
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      padding: 1em;
      transition: 0.2s ease; }
      .product-container-mobile .display-row .row-item:hover {
        transform: scale(1.1); }
    .product-container-mobile .display-row .active h3 {
      color: #1a1a1a; }
  .product-container-mobile #technical {
    padding: 1em; }
    .product-container-mobile #technical h2 {
      margin-bottom: 2em; }
    .product-container-mobile #technical .technical-section .technical-content {
      margin: 1em 0; }
      .product-container-mobile #technical .technical-section .technical-content .tech-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
  .product-container-mobile #feedback {
    display: none;
    flex-direction: column;
    align-items: center; }
    .product-container-mobile #feedback .fb-notes {
      padding: 2em 4em; }
    .product-container-mobile #feedback .fb-title {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .product-container-mobile #feedback .fb-content {
      padding: 2em; }
      .product-container-mobile #feedback .fb-content .fb-bars {
        margin: 1em 0;
        display: flex;
        flex-direction: row; }
        .product-container-mobile #feedback .fb-content .fb-bars h5 {
          margin-right: 1em; }

.timeline-manual .flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
.timeline-manual .input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 100px;
  max-width: 1000px;
  position: relative;
  z-index: 0; }
.timeline-manual .input {
  width: 25px;
  height: 25px;
  background-color: #1a1a1a;
  position: relative;
  border-radius: 50%;
  transition: ease 0.4s; }
  .timeline-manual .input:hover {
    cursor: pointer; }
  .timeline-manual .input::before, .timeline-manual .input::after {
    transition: ease 0.4s;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1a1a1a;
    width: 20vw;
    height: 5px;
    max-width: 250px; }
  .timeline-manual .input::before {
    left: calc(-20vw + 12.5px); }
  .timeline-manual .input::after {
    right: calc(-20vw + 12.5px); }
  .timeline-manual .input.active {
    background-color: #1a1a1a; }
    .timeline-manual .input.active::before {
      background-color: #1a1a1a; }
    .timeline-manual .input.active::after {
      background-color: Gainsboro; }
    .timeline-manual .input.active span {
      font-weight: 700; }
      .timeline-manual .input.active span::before {
        font-size: 13px; }
      .timeline-manual .input.active span::after {
        font-size: 15px; }
      @media screen and (max-width: 600px) {
        .timeline-manual .input.active span::after {
          color: white; } }
  .timeline-manual .input.active ~ .input, .timeline-manual .input.active ~ .input::before, .timeline-manual .input.active ~ .input::after {
    background-color: Gainsboro; }
  .timeline-manual .input span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden; }
    .timeline-manual .input span::before, .timeline-manual .input span::after {
      visibility: visible;
      position: absolute;
      left: 50%; }
    .timeline-manual .input span::after {
      content: attr(data-year);
      top: 25px;
      transform: translateX(-50%);
      font-size: 14px; }
    .timeline-manual .input span::before {
      content: attr(data-info);
      top: -65px;
      width: 70px;
      transform: translateX(-5px) rotateZ(-45deg);
      font-size: 12px;
      text-indent: -10px; }
.timeline-manual .description-flex-container {
  width: 80vw;
  font-weight: 400;
  font-size: 22px;
  margin-top: 100px;
  max-width: 1000px; }
  .timeline-manual .description-flex-container > div {
    margin-top: 0;
    display: none; }
    .timeline-manual .description-flex-container > div.active {
      display: block; }
@media (min-width: 1250px) {
  .timeline-manual .input::before {
    left: -237.5px; }
  .timeline-manual .input::after {
    right: -237.5px; } }
@media (max-width: 850px) {
  .timeline-manual .input {
    width: 17px;
    height: 17px; }
    .timeline-manual .input::before, .timeline-manual .input::after {
      height: 3px; }
    .timeline-manual .input::before {
      left: calc(-20vw + 8.5px); }
    .timeline-manual .input::after {
      right: calc(-20vw + 8.5px); } }
@media (max-width: 600px) {
  .timeline-manual .flex-parent {
    justify-content: initial; }
  .timeline-manual .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15vh; }
  .timeline-manual .input {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
    background-color: Gainsboro; }
    .timeline-manual .input::before, .timeline-manual .input::after {
      content: none; }
    .timeline-manual .input span {
      width: 100%;
      height: 100%;
      display: block; }
      .timeline-manual .input span::before {
        top: calc(100% + 5px);
        transform: translateX(-50%);
        text-indent: 0;
        text-align: center; }
      .timeline-manual .input span::after {
        top: 50%;
        transform: translate(-50%, -50%);
        color: black; }
  .timeline-manual .description-flex-container {
    margin-top: 30px;
    text-align: center; } }

.listprod h1,
.listprod_mobile h1 {
  margin-top: 150px; }
.listprod table,
.listprod_mobile table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 200px; }
  .listprod table hr,
  .listprod_mobile table hr {
    height: 3px;
    padding: 0;
    margin: 50px 0 25px;
    color: blue;
    background-color: blue;
    border: 0; }
  .listprod table tr,
  .listprod_mobile table tr {
    border: 4px solid black; }
    .listprod table tr td,
    .listprod_mobile table tr td {
      padding: 1em;
      width: 600px; }
    .listprod table tr .textprod,
    .listprod_mobile table tr .textprod {
      font-size: 1.2em; }
      .listprod table tr .textprod h2,
      .listprod table tr .textprod h3,
      .listprod table tr .textprod p,
      .listprod_mobile table tr .textprod h2,
      .listprod_mobile table tr .textprod h3,
      .listprod_mobile table tr .textprod p {
        margin-left: 50px; }
      .listprod table tr .textprod i,
      .listprod_mobile table tr .textprod i {
        margin-right: 10px; }
      .listprod table tr .textprod button,
      .listprod_mobile table tr .textprod button {
        float: right;
        margin-right: 50px; }
      .listprod table tr .textprod .colors,
      .listprod_mobile table tr .textprod .colors {
        display: flex;
        flex-direction: row;
        padding: 5px;
        width: 120px;
        border-radius: 10px;
        justify-content: center;
        margin-left: 40px; }
        .listprod table tr .textprod .colors .item-white,
        .listprod table tr .textprod .colors .item-gray,
        .listprod table tr .textprod .colors .item-black,
        .listprod_mobile table tr .textprod .colors .item-white,
        .listprod_mobile table tr .textprod .colors .item-gray,
        .listprod_mobile table tr .textprod .colors .item-black {
          height: 25px;
          width: 25px;
          border-radius: 20px; }
        .listprod table tr .textprod .colors .item-black,
        .listprod_mobile table tr .textprod .colors .item-black {
          background-color: black; }
        .listprod table tr .textprod .colors .item-gray,
        .listprod_mobile table tr .textprod .colors .item-gray {
          background-color: gray;
          margin: 0 10px; }
        .listprod table tr .textprod .colors .item-white,
        .listprod_mobile table tr .textprod .colors .item-white {
          background-color: white;
          border: 1px solid black; }
    .listprod table tr #i1,
    .listprod_mobile table tr #i1 {
      background: white url(../images/backpack2.jpg) no-repeat;
      background-size: cover;
      background-position: center; }
    .listprod table tr #i2,
    .listprod_mobile table tr #i2 {
      background: white url(../images/helmet-rogne.jpg) no-repeat;
      background-size: cover;
      background-position: center; }
    .listprod table tr #i3,
    .listprod_mobile table tr #i3 {
      background: white url(../images/t-shirts-rogner.jpg) no-repeat;
      background-size: cover;
      background-position: center; }

.listprod_mobile {
  display: none; }

@media screen and (min-width: 800px) and (max-width: 7680px) {
  .listprod #t2 h2,
  .listprod #t2 h3,
  .listprod #t2 p {
    text-align: right;
    margin-right: 50px; }
  .listprod #t2 button {
    float: left;
    margin-left: 50px; }
  .listprod #t2 .colors {
    margin-left: 400px; } }
@media screen and (max-width: 900px) {
  .listprod {
    display: none; }

  .listprod_mobile {
    display: block; }
    .listprod_mobile td {
      width: 400px; }
    .listprod_mobile .imgprod {
      height: 600px; } }

/*# sourceMappingURL=style.css.map */
