/* Buttons */
.btn {
    border-radius: 10px !important;
}

.btn-secondary {
    border: 2px solid #{$blue} !important;
    background-color: white !important;
    color: #{$blue} !important;
}

.btn-outline-secondary {
    color: #{$white} !important;
    border-color: #{$white} !important;
}
.btn-outline-secondary:hover {
    color: #{$light-dark} !important;
    background-color: #{$white} !important;
}

/* Titles */
h4, h5 {
    text-transform: inherit !important;
}
