.hiw,
.hiw_mobile {
    h1,
    .lead {
        text-align: center;
    }

    .intro {
        margin-top: 150px;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 200px;
        border-collapse: separate;
        border-spacing: 50px;

        hr {
            height: 3px;
            padding: 0;
            margin: 50px 0 25px;
            color: blue;
            background-color: blue;
            border: 0;
        }

        tr {
            td {
                padding: 2em;
                padding-top: 3em;
                width: 800px;
                vertical-align: top;
            }
            .textetapes {
                border: 3px solid black;
                font-size: 1em;
            }

            #t1 {
                height: 750px;
            }

            #t2 {
                text-align: right;
                height: 700px;
            }

            #t3 {
                height: 600px;
            }

            #e1 {
                background: white url(../images/telephone.jpg) no-repeat;
                background-size: contain;
                background-position: center;
            }

            #e2 {
                background: white url(../images/bluetooth.png) no-repeat;
                background-size: contain;
                background-position: center;
            }

            #e3 {
                background: white
                    url(../images/main-tenant-navigation-gps-mobile-telephone-mobile-carte-broche-illustration-vectorielle_47649-404.jpg)
                    no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }

    .lienapp {
        text-align: center;
        a {
            text-decoration: underline black;
            font-weight: bold;
            i {
                font-size: 3em;
            }
        }
    }

    details {
        text-align: center;
        margin: 10px;
        font-size: 1em;
        summary {
            font-size: 1.2em;
            margin-bottom: 10px;
            font-weight: bold;
            i {
                margin-right: 30px;
            }
            list-style-type: none;
        }
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary:after {
        content: "+";
        color: black;
        font-size: 2em;
        font-weight: 900;
        text-align: center;
        padding: 20px;
    }

    details[open] summary:after {
        content: "-";
    }
}
.hiw_mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .hiw {
        display: none;
    }
    .hiw_mobile {
        display: block;

        details {
            font-size: 1em;
        }
    }
}

@media screen and (max-width: 400px) {
    .hiw_mobile {
        table {
            margin-left: -2em;
        }
    }
}
