html {
    scroll-behavior: smooth;
}
section {
    > h1 {
        text-align: center;
    }
}
.first-section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    @media screen and (max-width: 1300px) {
        display: block;
    }
    .landing-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 6em;
        @media screen and (max-width: 1164px){
            padding: 6em 0;
        }
        img {        
        transform: rotateY(180deg);
        max-height: 800px;
        max-width: 800px;
        width: 50vw;
        height: auto;
        }
        
    }
    .main-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: #{$default_width};
        margin-left: 5vw;
        @media screen and (max-width: 1190px) {
            width: 450px;
            padding-right: 2em;
        }
        h2 {
            text-transform: none;
            font: {
                weight: 600;
                size: min(4vw, 60px);
            }
        }
        > div > button {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 0;

            &:focus {
                box-shadow: none !important;
            }
            h4, i {
                font-size: max(2vw, 16px);
            }
            h4 {
                margin-bottom: 0;
                margin-left: 1em;
            }
            i {
                color: #{$blue};
            }
            @media screen and (max-width: 633px){
                padding-right: 0;
            }
            @media screen and (max-width: 430px){
                padding: 1em 0 1em 0.5em;
            }
        }
    }
}

.waves {
    margin-top: -10vw;
}

.offers {
    background-color: #{$light-dark};
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    
    h1, h2, h3, h4, h5, p, .fas {
        color: white;
    }
    h1 {
        text-align: center;
    }
    .items {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        @media screen and (max-width: 1196px) {
            flex-direction: column;
        }
        @media screen and (max-width: 700px) {
            width: 100%;
        }        
        .addition {
            display: flex;
            flex-direction: row;
            align-items: start;
            margin-left: 15vw;
            @media screen and (max-width: 1196px) {
                margin-left: 0;
            }
            .item {
                
                .box-img {
                    padding: 3em;
                    @media screen and (max-width: 700px) {
                        padding: 0;
                        padding-top: 3em;
                    }
                    @media screen and (max-width: 540px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    > img {
                        width: 200px;
                        height: 200px;
                        padding-bottom: 1em;
                        @media screen and (max-width: 540px){
                            height: auto;
                            width: 30vw;
                        }
                    }
                }
                .box-msg {
                    text-align: center;
                }
            }
            .plus {
                margin-top: 40px;
                font-size: 140px;
                padding: 0 20px;
            }
        }
        .result-addition {
            text-align: center;
            @media screen and (max-width: 1196px) {
                padding-bottom: 2em;
            }
        }
    }
    .last-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .remaining-time {
            > h4 {
                margin-bottom: 1em;
            }
        }
    }
}

.who-we-are, .our-creations .why-you-love {
    padding-bottom: 6em !important;
}
.who-we-are {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: #{$big-padding};
    padding-top: 0;
    margin-top: -180px;
    @media screen and (max-width: 1476px){
        padding-top: 2em;
    }
    @media screen and (max-width: 1225px) {
        padding-left: 10em;
        padding-right: 10em;
        padding-top: 8em;
    }
    @media screen and (max-width: 866px) {
        padding-left: 5em;
        padding-right: 5em;
        padding-top: 8em;
    }
    @media screen and (max-width: 620px){
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 12em;
    }
    h3 {
        text-align: center;
        margin: 2em auto;
        text-transform: inherit;
        letter-spacing: 1px;
    }
    video {
        width: 60vw;
        @media screen and (max-width: 1225px){
            width: 75vw;
        }
        @media screen and (max-width: 620px){
            width: 100vw;
        }
        
        > p {
            text-align: center;
        }
    } 

}

.our-creations {
    
    .creations {
        padding: #{$mid-padding};
        @media screen and (max-width: 1256px) {
            padding-left: 6em;
            padding-right: 6em;
        }
        @media screen and (max-width: 1023px) {
            padding-left: 0;
            padding-right: 0;
        }
        
        .creation {
            display: flex;
            flex-direction: row;
            border: 2px solid #{$light-dark};
            margin: 2em auto;
            @media screen and (max-width: 590px){
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 1em;
            }
            .creation-content {
                padding-left: 4em;
                margin-top: auto;
                margin-bottom: auto;
                @media screen and (max-width: 590px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-left: 5vw;
                    padding-right: 5vw;
                }
                @media screen and (max-width: 621px)  {
                    padding-left: 2em;
                }
                >h4 {
                    margin: 1em auto;
                    white-space: pre-line;
                    flex-wrap: nowrap;;
                    @media screen and (max-width: 848px) {
                    }
                    @media screen and (max-width: 735px) {
                    }
                }
                >p {
                    font-size: 18px;
                    padding-right: 10vw;
                    @media screen and (max-width: 1494px) {
                    }
                    @media screen and (max-width: 1330px) {
                        padding-right: 5vw;
                        max-height: 81px;
                        text-overflow: ellipsis;
                        overflow-y: hidden;
                    }
                    @media screen and (max-width: 949px) {
                        padding-right: 0;
                    }
                    @media screen and (max-width: 848px) {
                    }
                }

                .btn {
                    transition: .15s ease-in-out;
                    border: 1px solid rgba(0,0,0,0);
                    &:hover {
                        color: #{$light-dark};
                        background-color: white;
                        border-color: #{$light-dark};
                    }
                }
                
            }

            > img {
                max-width: 564px;
                width: 100%;
                height: auto;
                @media screen and (max-width: 1471px) {
                    max-width: 400px;
                }
                
            }
        }
        
    }
}

.why-you-love {

     .customrow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 6rem 0;
        width: 100%;
        @media screen and (max-width: 968px){
            .col {
                flex-grow: 0 !important;
                min-width: 25vw;
            }
            i {
                font-size: 3em !important;
            }
            h4 {
                font-size: 16px;
                width: auto !important;
                line-height: 18px !important;
            }
        }
        @media screen and (max-width: 581px){
            margin-bottom: 0;
        }
        @media screen and (max-width: 450px){
            .col {
                min-width: 30vw;
            }
            h4 {
                font-size: 12px;
            }
        }
        > .col {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;
            
            @media screen and (max-width: 580px){
                margin-bottom: 50px;
            }
            
            > div {
                background-color: #{$blue};
                padding: 1em;
                border-radius: 100px;
                margin-bottom: 2em;
                > i {
                    width: 20%;
                    margin: 0 auto;
                    font-size: 4em;
                    color: #{$white};
                }
            }
            
            > h4 {
                text-align: center;
                width: 260px;
                line-height: 29px;
            }
        }
    }

}

.media-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container-fluid {
        margin: 4em 0;
        .fa-chevron-left, .fa-chevron-right {
            color: #{$light-dark} !important;
            opacity: 1 !important;
        }
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 927px) {
            flex-direction: column;
        }
        @media screen and (max-width: 495px) {
            width: 90%;
            margin: 0 auto;
        }
        .btn {
            width: 441px;
            font-size: 1.6em;
            margin: 4em 2vw;
            transition: 0.15s ease-in-out !important;

            &:hover {
                color: white !important;
                background-color: #{$blue} !important;
            }

            @media screen and (max-width: 927px) {
               margin: 2em 0;
            }
            @media screen and (max-width: 495px) {
               width: 100%;
            }
        }
        :first-child{
            @media screen and (max-width: 927px) {
                margin-bottom: 0;
             }
        }
    }
    
}