.listprod,
.listprod_mobile {
    h1 {
        margin-top: 150px;
    }
    table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 200px;

        hr {
            height: 3px;
            padding: 0;
            margin: 50px 0 25px;
            color: blue;
            background-color: blue;
            border: 0;
        }

        tr {
            border: 4px solid black;
            td {
                padding: 1em;
                width: 600px;
            }
            .textprod {
                font-size: 1.2em;
                h2,
                h3,
                p {
                    margin-left: 50px;
                }
                i {
                    margin-right: 10px;
                }
                button {
                    float: right;
                    margin-right: 50px;
                }
                .colors {
                    display: flex;
                    flex-direction: row;
                    padding: 5px;
                    width: 120px;
                    border-radius: 10px;
                    justify-content: center;
                    margin-left: 40px;
                    .item-white,
                    .item-gray,
                    .item-black {
                        height: 25px;
                        width: 25px;
                        border-radius: 20px;
                    }
                    .item-black {
                        background-color: black;
                    }
                    .item-gray {
                        background-color: gray;
                        margin: 0 10px;
                    }
                    .item-white {
                        background-color: white;
                        border: 1px solid black;
                    }
                }
            }

            #i1 {
                background: white url(../images/backpack2.jpg) no-repeat;
                background-size: cover;
                background-position: center;
            }

            #i2 {
                background: white url(../images/helmet-rogne.jpg) no-repeat;
                background-size: cover;
                background-position: center;
            }

            #i3 {
                background: white url(../images/t-shirts-rogner.jpg) no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
}
.listprod_mobile {
    display: none;
}

@media screen and (min-width: 800px) and (max-width: 7680px) {
    .listprod {
        #t2 {
            h2,
            h3,
            p {
                text-align: right;
                margin-right: 50px;
            }
            button {
                float: left;
                margin-left: 50px;
            }

            .colors {
                margin-left: 400px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .listprod {
        display: none;
    }
    .listprod_mobile {
        display: block;
        td {
            width: 400px;
        }
        .imgprod {
            height: 600px;
        }
    }
}
