@import "_vars";

.navbar {
    flex-direction: row-reverse;
    transition: ease 0.8s;
    /* Title CYCLE ONE */
    .navbar-brand {
        > img {
            height: auto;
            width: 160px;
        }
        @media #{$mobile} {
            > img {
                height: auto;
                width: 40px;
            }
        }
    }
    /* Cart logo on mobile */
    .navbar-logo-mobile {
        color: white;
        display: none;
        i {
            font-size: 1.4rem;
            color: #{$light-dark};
        }
    }
    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                >a {
                    color: rgba(0,0,0,0.7);
                    transition: 0.15s ease-in-out;
                    &:hover {
                        color: rgba(0,0,0,1);
                    }
                }
            }
        }
    }
    /* Content */
    .hide-on-desktop {
        display: none;
    }
    /* Logos */
    .nav-logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 143px;
        
        div {
            i {
                font-size: 1.4rem;
                color: #{$light-dark};
            }
        }

        
    }
    @media #{$mobile} {
        .navbar-brand {
            margin-right: 0;
        }
        .nav-logos, .dropdown {
            display: none;
        }
        .hide-on-desktop, .navbar-logo-mobile {
            display: block;
        }
    }
}


