.product-container-desktop {
    @media screen and (max-width: 376px){
        display: none;
    }
    max-width: 90%;
    margin: 0 auto;
    padding-top: 12em;

    .row {
        .tiny-carousel{

        }

        .product-info {
            border: 2px solid #{$light-dark};
            padding: 2rem 4rem;
            height: 700px;
            .product-info-row{
                display: flex;
                flex-direction: column;

                .feedback {
                    display: flex;
                    flex-direction: row;
                    >p {
                        margin-bottom: 0;
                    }
                    >div {
                        padding-left: 1em;

                        .checked{
                            color: #{$orange_stars};
                        }
                    }
                    
                }
                h4 {
                    margin-top: 1em;
                    margin-bottom: 2em;
                }

                .product-config {
                    > span {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 1em;
                        >i {
                            color: green;
                            font-size: 2em;
                        }
                        >h5 {
                            margin-bottom: 0;
                            font-size: 1.4em;
                            padding-left: 0.5em;
                        }
                    }

                    > .config-row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        > .colors {
                            display: flex;
                        flex-direction: row;
                           
                            .item-white, .item-gray, .item-black {
                                height: 25px;
                                width: 25px;
                                border-radius: 20px;
                            }
                            .item-black {
                                background-color: black;
                            }
                            .item-gray {
                                background-color: gray;
                                margin: 0 10px;
                            }
                            .item-white {
                                background-color: white;
                                border: 1px solid black;
                            }
                        }

                        > .size {
                            > select {
                                padding: 10px 100px 10px 5px;
                                text-align: start;
                            }
                        }
                    }

                    .assurance {
                        p {
                            &:first-child{
                                margin-bottom: 0;
                            }
                        }
                    }

                    .last-row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 5vw;
                        .quantity-container {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            > input {
                                width: 100px;
                                font-size: 1.4rem;
                                text-align: center;
                            }
                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                                margin: 0;
                            }
                            /* Firefox */
                            input[type=number] {
                                -moz-appearance: textfield;
                            }
                            > span {
                                cursor: pointer;
                                color: #{$light-dark};
                                font-size: 3rem;
                                margin: 0 0.2em;
                                &::selection {
                                    background: transparent;
                                }
                            }
                        }

                        >.btn {
                            font-size: 1.2em;
                        }
                    }
                }
            }
            
        }
    }

    .display-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 2px solid #{$light-dark};
        padding: 1em;
        margin-top: 8em;

        h3 {
            margin-bottom: 0;
            color: rgba(26,26,26,0.5);
        }

        .row-item {
            cursor: pointer;
            border-bottom: 2px solid rgba(0,0,0,0);
            padding: 1em;
            transition: 0.2s ease;
            &:hover {
                transform: scale(1.1);
            }            
        }
        .active {
            h3 {
                color: rgba(26,26,26,1);
            }
            
        }
    }
    #manual, #technical, #feedback {
        padding-top: 6em;
    }
    #manual {
        .timeline-manual {
            .flex-parent {

                .description-flex-container {

                    .timeline-content {
                        .manual-row {
                            margin: 2em 0;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            > img {
                                height: 450px;
                                width: 450px;
                            }
                            .manual-content {
                                padding: 2em;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                font-size: 1.2rem;
                                letter-spacing: 0px;
        
                                
        
                                .manual-link {
                                    margin-top: 4em;
                                    font-size: 13px;
                                }
                                a, .manual-links-row a {
                                    width: fit-content;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #technical {
        >h2 {
            margin-bottom: 2em;
        }
        .technical-section {
            margin: 0 6em;

            .technical-content {
                padding: 1.25rem;
                .tech-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .btn{
                        .rotate {
                            transform: rotate(180deg);
                        }
                        i {
                            transition: transform 0.2s ease-in-out;
                        }
                    }
                    .btn:focus {
                        box-shadow: none !important;
                    }
                    >h4{
                        margin-bottom: 0;
                    }
                }

                .card {
                    border: 1px solid rgba(0,0,0,0);
                    border-bottom: 1px solid rgba(26,26,26,0.8);
                }
            } 
        
        }
        
    }

    #feedback {

        > .fb-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .fb-content {

            .fb-notes {
                display: flex;
                flex-direction: column;
                
                .fb-bars{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin: 2em;
                    > h5 {
                        margin: 0 2em;
                    }
                    .progress{
                        background-color: rgba(26,26,26,0.2);

                        .progress-bar {
                            background-color: #{$blue};
                        }
                    }
                    
                }
            }
        }

        .commentary {
            border: 2px solid rgba(26,26,26,0.2);
            padding: 1rem;
            margin: 1em 0;
            >.comm-header, >.comm-footer {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                
            }
            .comm-header {
                justify-content: space-between;
                margin-bottom: 1rem;
                h5, p {
                    margin-bottom: 0;
                }
                h5 {
                    margin-right: 1rem;
                    letter-spacing: 1px;
                }

                .comm-first-header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .stars {
                        .checked {
                            color: #{$orange_stars};
                        }
                    }
                }
            }

            .comm-footer {
                justify-content: space-between;
            }
        }
    }
}

.product-container-mobile {
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    h5 {
        letter-spacing: 1px;
    }
    p {
        font-size: 0.8rem;
    }
    display: none;
    @media screen and (max-width: 375px){
        display: block;
    }
    .title-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mobile-content {

        .mobile-carousel {

            ol {
                bottom: -50px;
                li {
                    height: 20px !important;
                    width: 20px !important;
                    border-radius: 500px;
                    border: none;
                    background-color: #{$light-dark};
                }
            }
            
        }

        .mobile-config {

            .product-titles {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 4rem 0;
                >h5 {
                    text-align: center;
                }

                .mobile-product-feedback-tiny {
                    display: flex;
                    flex-direction: row;
                    
                    .mobile-stars-tiny {
                        padding-left: 1rem;
                        span {
                            font-size: 0.6rem;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }

            .product-inputs {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;

                .mobile-size {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    #size-select {
                        width: 100%;
                        font-size: 1.4rem;
                    }
                }

                .last-mobile-inputs{
                    display: flex;
                    flex-direction: row;

                    input-quantity {
                        width: 100%;
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .display-row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 2px solid #{$light-dark};
        padding: 1em;
        margin-top: 8em;

        h3 {
            margin-bottom: 0;
            color: rgba(26,26,26,0.5);
        }

        .row-item {
            border-bottom: 2px solid rgba(0,0,0,0);
            padding: 1em;
            transition: 0.2s ease;
            &:hover {
                transform: scale(1.1);
            }            
        }
        .active {
            h3 {
                color: rgba(26,26,26,1);
            }
            
        }
    }

    #technical {

        padding: 1em;
        h2 {
            margin-bottom: 2em;
        }
        .technical-section {
            .technical-content {
                margin: 1em 0;
                .tech-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }

    #feedback {
        display: none;
        flex-direction: column;
        align-items: center;
        .fb-notes {
            padding: 2em 4em;
        }
        .fb-title {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .fb-content {

            padding: 2em;

            .fb-bars {
                margin: 1em 0;
                display: flex;
                flex-direction: row;
    
                h5 {
                    margin-right: 1em;
                }
            }
        }
        
    }
}





.timeline-manual {
$numDots: 4;
$parentWidthBase: 0.8;
$parentWidth: $parentWidthBase * 100vw;
$parentMaxWidth: 1000px;
$dotWidth: 25px;
$dotWidthSm: 17px;
$active: #{$light-dark};
$inactive: Gainsboro;




.flex-parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.input-flex-container {
    display: flex;
	justify-content: space-around;
	align-items: center;
	width: $parentWidth;
	height: 100px;
	max-width: $parentMaxWidth;
	position: relative;
    z-index: 0;
    
}
	
.input {
    width: $dotWidth;
	height: $dotWidth;
	background-color: $active;
	position: relative;
    border-radius: 50%;
    transition: ease 0.4s;
    &:hover {
        cursor: pointer
    }
    &::before, &::after {
        transition: ease 0.4s;
        content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: 50%;
		transform: translateY(-50%);
		background-color: $active;
		width: $parentWidth / $numDots;
		height: 5px;
		max-width: $parentMaxWidth / $numDots;
    }
    &::before {
		left: calc(#{-$parentWidth / $numDots} + #{$dotWidth / 2});
    }
	&::after {
		right: calc(#{-$parentWidth / $numDots} + #{$dotWidth / 2});
    }
    &.active {
        background-color: $active;
		&::before {
			background-color: $active;
        }
		&::after {
			background-color: $inactive;
        }
		span {
            
            font-weight: 700;
            &::before {
				font-size: 13px;
            }
			&::after {
                font-size: 15px;
            }
            @media screen and (max-width: 600px) {
                &::after {
                    color: white;
                }
            }
        }
			
    }
    &.active ~ .input {
        &, &::before, &::after {
			background-color: $inactive;
        }
    }
    span {
        width: 1px;
		height: 1px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
        visibility: hidden;
        
        &::before, &::after {
            visibility: visible;
			position: absolute;
			left: 50%;
        }
        &::after {
            content: attr(data-year);
            top: 25px;
            transform: translateX(-50%);
            font-size: 14px;
        }
        &::before {
            content: attr(data-info);
			top: -65px;
			width: 70px;
			transform: translateX(-5px) rotateZ(-45deg);
			font-size: 12px;
			text-indent: -10px;
        }	
    }		
}
.description-flex-container {
    width: $parentWidth;
    font-weight: 400;
    font-size: 22px;
    margin-top: 100px;
    max-width: $parentMaxWidth;
    > div {
        margin-top: 0;
        display: none;
        &.active {
            display: block;
        }
    }
}
	
	
@media (min-width: $parentMaxWidth / $parentWidthBase){
    .input::before {
		left: #{-($parentMaxWidth / $numDots) + ($dotWidth / 2)};
    }
	.input::after {
		right: #{-($parentMaxWidth / $numDots) + ($dotWidth / 2)};
    }
}
	
@media (max-width: 850px) {
    .input {
        width: $dotWidthSm;
		height: $dotWidthSm;
		&::before, &::after {
            height: 3px;
        }
		&::before {
			left: calc(#{-$parentWidth / $numDots} + #{$dotWidthSm / 2});
        }
		&::after {
			right: calc(#{-$parentWidth / $numDots} + #{$dotWidthSm / 2});
        }
    }
		
}
//MOBILE
@media (max-width: 600px) {
    .flex-parent {
		justify-content: initial;
    }
	.input-flex-container {
        flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		height: auto;
		margin-top: 15vh;
    }
		
	.input {
        width: 60px;
		height: 60px;
		margin: 0 10px 50px;
		background-color: $inactive;
		&::before, &::after {
			content: none;
        }
        
		span {
            width: 100%;
			height: 100%;
			display: block;
			&::before {
                top: calc(100% + 5px);
				transform: translateX(-50%);
				text-indent: 0;
				text-align: center;
            }
			&::after {
                top: 50%;
				transform: translate(-50%, -50%);
				color: black;
            }
        }
			
    }	
	.description-flex-container {
        margin-top: 30px;
		text-align: center;
    }		
}
}