/* Responsive */
$mobile: "screen and (max-width: 992px)";

/* Widths */
$default_width: 578px;

/* Colors */
$light-dark: #1a1a1a;
$blue: #4100ff;
$white: #FFFFFF;
$black: #000000;
$orange_stars: #D07E0E;
/* Padding and Margins */
$big-padding: 5em 20em;

$mid-padding: 2em 12em;